<footer class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        <img src="{{image}}SELF-US-NOW.png" alt="" class="footer-brand-logo">
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <p>SELF, US NOW. IS A SISTER COMPANY OF YCM MARKETING</p>
      </li>
      <li>
        <p>© 2016 Created with <a href="http://nationbuilder.com/" class="white-fill" target="_blank">NationBuilder</a></p>
      </li>
    </ul>
  </div>
</footer>